html, body {
    margin: 0;
}

.velocidade.box {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-size: 42px;
    transition: font-size .6s;
}

.velocidade.box.testing {
    animation-name: testing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 32px;
}

.velocidade.display {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #efefef;
    opacity: 0;
    transition: opacity .4s;
}

.velocidade.display.testing {
    opacity: 1;
}

.velocidade.pcg {
    width: 0%;
    height: 100%;
    background-color: blue;
    transition: width 1s linear;
    will-change: width;
}

.velocidade.text, .velocidade.ping {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.velocidade.text span, .velocidade.ping span {
    font-size: 21px;
    font-weight: 300;
    margin-left: 5px;
}

@keyframes testing {
    0% {opacity:1}
    50% {opacity:.4}
    100% {opacity:1}
}